* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #1f1f23;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1b;
    box-shadow: 0px 7px 10px -1px #00f1e5;
}

span {
    display: block;
    margin-top: 50px;
    margin-right: 50px;
    color: white;
    text-align:right;
    text-transform: uppercase;
    font-size: 20px;
}

.header button {
    border: none;
    border-radius: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 35px;
    padding: 15px;
    margin-top: 20px;
    text-transform: uppercase;
    transition: 0.5s;

}

.header button:hover {
    background-color: #00f1e5;
}

h3 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 40px;
    border-bottom: #dbdfe4 solid;
}

.choose-barber {
    margin-top: 20px;
}

.choose-barber .barber1 img {
    width: 150px;
    height: 150px;
}
